.up--animation:hover {
   fill: #cccccc;
    transform: translateY(-10px);
}
.up--animation {
    transition: 0.5s;
    
}


.up--animation2:hover {
    color: #babcbc;
     transform: translateY(-5px);
 }
 .up--animation2 {
     transition: 0.5s;
     
 }