@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --blue-color: #26b5ca;
}
html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    border: none;
}

body {
    background-color: #fafafa;
    font-family: "Inter", sans-serif;
}

body::after {
    content: "";
    background: url(/img/bg.png);
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #13a0a5 #efefef;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #efefef;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #13a0a5;
    border-radius: 11px;
    border: 3px solid #efefef;
  }

a {
    text-decoration: none;
    color: #ffffff;
}

.back--nav {
    background-color: transparent;
    position: absolute;
    z-index: 9999;
    transition: all 0.3s ease;
    height: 6rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
}



.first--detail {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 5rem;
}

.first--detail p {
    color: #d7d7d7;
}

.first--detail img {
    content: url("/img/logo_dark.png");
    height: 2rem;
}

.second--detail {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1.2rem;
    font-size: 24px;
}

.second--detail a button {
    width: 213px;
    height: 3.1rem;
    font-size: 16px;
    font-weight: 800;
    background-color: var(--blue-color);
    border-radius: 15px;
    color: #ffffff;
    font-family: "Inter", sans-serf;
    cursor: pointer;
}
.second--detail i {
    color: var(--blue-color);
}

.main--div {
    position: relative;
    background: rgb(40, 40, 40, 0.8);
    background: linear-gradient(
        37deg,
        rgba(22, 22, 22, 0.863) 17%,
        rgba(29, 29, 29, 0.8) 93%
    );
    width: 100%;
    height: 100vh;
    filter: grayscale(20%);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}

.all--div video {
    width: 100%;
    position: absolute;
    z-index: -1;
    height: 100%;
    object-fit: cover;
}

.center--text {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.center--text h1 {
    color: #ffffff;
    font-size: 108px;
}

.center--text h2 {
    font-size: 63px;
    color: var(--blue-color);
    margin-bottom: 0.5rem;
}

.center--text p {
    font-size: 26px;
    color: #b8b9bb;
}

.center--text a button {
    width: 250px;
    height: 3.6rem;
    font-size: 16px;
    font-family: "Inter", sans-serf;
    color: white;
    font-weight: 700;
    margin-top: 3rem;
    background-color: var(--blue-color);
    border-radius: 15px;
}

.all--div {
    display: flex;
    flex-direction: column;
}

.text--whatwedo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

.text--whatwedo h4 {
    font-size: 40px;
    color: #383838;
    font-weight: 900;
}

.text--whatwedo img {
    width: 636px;
    height: 20px;
}

.text--whatwedo p {
    margin-top: 1rem;
    font-size: 22px;
    max-width: 636px;
    text-align: center;
}

span {
    color: #25d1e7;
}

.box--div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    row-gap: 2rem;
    column-gap: 1rem !important;
    justify-content: center;
    margin-top: 2rem;
}

.box--whatwedo {
    background-color: #ffffff;
    width: 460px;
    height: 240px;
    border-radius: 15px;
    border: var(--blue-color) 0.1px solid;
    position: relative;
    overflow: hidden;
}

.boxes {
    transition: 0.5s;
}

.box--whatwedo:hover .boxes {
    transform: translateX(-10px) translateY(-15px);
}

.box--whatwedo .icon {
    position: absolute;
    padding: 2rem;
    background: white;
    border: 1px solid #25d1e7;
    border-radius: 999rem;
    right: -1rem;
    bottom: -1rem;
    z-index: 3;
}

.box--whatwedo .icon svg {
    width: 50px;
    height: 50px;
}

.box--whatwedo .boxes[data-idx="1"] {
    position: absolute;
    bottom: 3rem;
    right: 3rem;
    width: 4rem;
    border-radius: 0.5rem;
    border: 1px solid #25d0e765;
    height: 4rem;
    z-index: 1;
}

.box--whatwedo .boxes[data-idx="2"] {
    position: absolute;
    bottom: -2rem;
    right: 3rem;
    width: 4rem;
    border-radius: 0.5rem;
    border: 1px solid #25d0e765;
    height: 4rem;
    z-index: 1;
}

.box--whatwedo .boxes[data-idx="3"] {
    position: absolute;
    bottom: 3rem;
    right: -2rem;
    width: 4rem;
    border-radius: 0.5rem;
    border: 1px solid #25d0e765;
    height: 4rem;
    z-index: 1;
}

.first--p {
    font-weight: 800;
    color: var(--blue-color);
}

.second--p {
    max-width: 266px;
    font-weight: 600;
    color: #5e5e5e;
}

.detail--box {
    text-align: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 4rem;
    margin-left: 2rem;
    gap: 1rem;
}

.section--3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10rem;
    gap: 10rem;
}

.items--section3 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.item--section3 {
    width: 473px;
    background-color: #ffffff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.img--section3 {
    width: 620px;
    height: 340px;
    object-fit: contain;
}

.firstline--section3 {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.firstline--section3 img {
    width: 35px;
    height: 35px;
}

.firstline--section3 p {
    font-size: 20px;
    color: #ffffff;
}

.detailitem2-section3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding: 1rem;
    gap: 0.5rem;
    color: #4b4b4b;
}

.detailitem2-section3 svg {
    fill: #25d1e7;
    width: 35px;
    height: 35px;
}

.detail2--section3 {
    opacity: 0;
    height: 0;
    color: white;
}

.active {
    padding-bottom: 1.5rem;
    background-color: #39b5c4;
    border-radius: 20px;
    color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.item--section3.active .detailitem2-section3 {
    color: white;
}
.item--section3.active .detail2--section3 {
    opacity: 1;
    height: fit-content;
    padding: 0 2rem;
}
.item--section3.active .detailitem2-section3 svg {
    fill: white;
}
.marketing--section {
    background: url(../img/wave-back.png);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 10rem;
}

.item-marketing {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 13%;
    gap: 15rem;
}

.charm--marketing {
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
    color: #ffffff;
}

.marketing--detail {
    display: flex;
    flex-direction: column;
    color: #ffffff;
}

.marketing-img {
    position: relative;
}

.marketing-img img {
    position: relative;
    z-index: 2;
}

.marketing-img .marketing-circle {
    position: absolute;
    height: 350px;
    width: 350px;
    background: rgba(38, 180, 202, 0.3);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.p-marketing {
    max-width: 500px;
    margin-top: 0.5rem;
}

.adame--img {
    width: 300px;
    height: 380;
}

.all-charm {
    margin-top: 3rem;
}

.charm--marketing p {
    transform: translateY(0.5rem);
}

.social--div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10rem;
}

.smart-parent {
    position: relative;
}

.smart-parent .smart-circle {
    position: absolute;
    height: 300px;
    width: 300px;
    background: rgba(38, 180, 202, 0.692);
    z-index: -1;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.smart-parent .smart-circle-border[data-idx="1"] {
    position: absolute;
    height: 400px;
    width: 400px;
    border: 1px solid #26b5ca;
    z-index: -1;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}
.smart-parent .smart-circle-border[data-idx="2"] {
    position: absolute;
    height: 500px;
    width: 500px;
    border: 1px solid #26b5ca;
    z-index: -1;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.downtext--social {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 0 1rem;
    gap: 0.5rem;
}

.downtext--social a {
    color: var(--blue-color);
}

.detail--social {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.h1--social {
    color: #454545;
    margin-top: 1rem;
}

.p--social {
    max-width: 470px;
    font-size: 20px;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

/* Contact Section */

.contact-section {
    margin: 0 auto;
    margin-top: 10rem;

    max-width: 1000px;
}

.contact-section .contact-divder {
    display: flex;
    gap: 5rem;
    margin-top: 2rem;
}

.contact-section h1 {
    font-size: 3rem;
    color: #383838;
    text-align: center;
}

.contact-text {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.contact-text svg {
    width: 1.5rem;
    fill: #26b5ca;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}

.contect-textarea {
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;
}

.contect-textarea textarea {
    width: 100%;
    height: 100%;
    outline: none;
    padding: 0.5rem;
    font-family: "Inter", sans-serif;
    resize: none;
}

.contact-section .contect-input {
    display: flex;
    position: relative;
    height: 3.5rem;
    width: 100%;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(56, 56, 56, 0.05);
}

.contact-section .contect-input svg {
    fill: #26b5ca;
    position: absolute;
    width: 1.6rem;
    left: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
}

.contect-input input {
    background: #ffffff;
    outline: none;
    padding-left: 2.4rem;
    width: 100%;
}

.contact-input--first-row {
    display: flex;
    gap: 0.5rem;
}

.contact-submit {
    height: 4rem;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    background: #26b5ca;
    color: white;
    font-size: 1.6rem;
    border-radius: 1rem;
    margin-top: 1rem;
}

.contact-detail {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contact-detail iframe {
    width: 100%;
    height: 23rem;
    border-radius: 1rem;
}

/* Footer Section */
.footer-section {
    width: 100%;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    background: url(/img/footer-bg.png);
    background-size: cover;
    background-position: top;
}

.footer-section svg {
    fill: white;
    height: 2rem;
}

.link-text {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
    text-decoration: none;
    color: white;
}

.link-text a {
    text-decoration: none;
    color: white;
}

.footer-section p {
    color: white;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.footer-section .footer-year {
    color: white;
}

/* Swipper UI */

.swiper-section {
    margin-top: 10rem;
    text-align: center;
    font-size: 1.4rem;
    color: #383838;
}

.swiper {
    margin-top: 2rem;
    width: 1400px;
    height: 600px;
    --swiper-navigation-size: 30px;
    --swiper-navigation-top-offset: 50%;
    --swiper-navigation-sides-offset: 10px;
    --swiper-navigation-color: #26b5ca;
    --swiper-pagination-color: #26b5ca;
}

.swiper-slide-item {
    display: grid;
    width: 90%;
    margin: auto auto;
    height: 90%;
    grid-template-columns: 1fr 1.2fr;
    gap: 2rem;
    background: white;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.swiper-slide-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-text {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.slider-text h1 {
    font-size: 2.4rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    white-space: nowrap;
}

.slider-text p {
    margin-top: 1rem;
    font-size: 1.2rem;
}

.mobile-nav {
    position: absolute;
    height: 5rem;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    display: none;
}

.mobile-nav img {
    height: 2rem;
}

.mobile-nav svg {
    cursor: pointer;
    position: relative;
    z-index: 1000;
}

.mobile-nav-ui {
    position: fixed;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    padding-top: 8rem;
    text-align: center;
    color: white;
    z-index: 999;
    flex-direction: column;
    transition: all 0.5s ease-out;
    transform: translateX(100%);
    border-radius: 0;
}

.mobile-nav-ui svg {
    cursor: pointer;
    position: fixed;
    right: 1.7rem;
    top: 1.3rem;
}

.mobile-nav-ui ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.mobile-nav-ui button {
    padding: 1rem 2rem;
    background: #25d1e7;
    border-radius: 1rem;
}

.mobile-nav-ui.active {
    transform: translateX(0%);
}

.marketing--detail .leyoxa-effect {
    color: white;
    margin-left: 0.5rem;
    position: relative;
}

.marketing--detail .leyoxa-effect::after {
    content: "";
    position: absolute;
    width: calc(100% + 1rem);
    left: -0.5rem;
    height: 2rem;
    z-index: -1;
    background: #26b5ca;
    border-radius: 5px;
}

.marketing--detail .leyoxa-effect svg[data-idx="1"] {
    position: absolute;
    fill: white;
    top: -2rem;
}
.marketing--detail .leyoxa-effect svg[data-idx="2"] {
    position: absolute;
    fill: white;
    top: -3rem;
    right: -2.5rem;
    width: 1rem;
    transform: rotate(15deg);
}

.sticky-nav {
    position: fixed;
    top: 0;
    right: 0;
    height: 5rem;
    width: 100%;
    padding: 0% 6%;
    background: rgba(255, 255, 255, 1);
    backdrop-filter: blur(5px);
    z-index: 9999;
}

.sticky-nav {
    position: fixed;
    top: 0;
    right: 0;
    height: 5rem;
    width: 100%;
    padding: 0% 6%;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(5px);
    z-index: 9999;
}

.sticky-nav .first--detail p {
    color: #383838;
}

.sticky-nav .first--detail img {
    content: url("/img/logo_light.png");
}

.preloader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(hsla(0, 0%, 85%, 1) 1px, white 0);
    background-size: 24px 24px;
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pl,
.pl__worm {
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.pl {
    animation-name: bump5;
    animation-timing-function: linear;
    width: 10em;
    height: 10em;
}

.pl__ring {
    stroke: hsla(var(--hue), 10%, 10%, 0.1);
    transition: stroke 0.3s;
}

.pl__worm {
    animation-name: worm5;
    animation-timing-function: cubic-bezier(0.42, 0.17, 0.75, 0.83);
}

/* Animations */
@keyframes bump5 {
    from,
    42%,
    46%,
    51%,
    55%,
    59%,
    63%,
    67%,
    71%,
    74%,
    78%,
    81%,
    85%,
    88%,
    92%,
    to {
        transform: translate(0, 0);
    }

    44% {
        transform: translate(1.33%, 6.75%);
    }

    53% {
        transform: translate(-16.67%, -0.54%);
    }

    61% {
        transform: translate(3.66%, -2.46%);
    }

    69% {
        transform: translate(-0.59%, 15.27%);
    }

    76% {
        transform: translate(-1.92%, -4.68%);
    }

    83% {
        transform: translate(9.38%, 0.96%);
    }

    90% {
        transform: translate(-4.55%, 1.98%);
    }
}

@keyframes worm5 {
    from {
        stroke-dashoffset: 10;
    }

    25% {
        stroke-dashoffset: 295;
    }

    to {
        stroke-dashoffset: 1165;
    }
}



.dot-spinner {
    --uib-size: 2.8rem;
    --uib-speed: 0.9s;
    --uib-color: #183153;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: var(--uib-size);
    width: var(--uib-size);
}

.dot-spinner__dot {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
}

.dot-spinner__dot::before {
    content: "";
    height: 20%;
    width: 20%;
    border-radius: 50%;
    background-color: var(--uib-color);
    transform: scale(0);
    opacity: 0.5;
    animation: pulse0112 calc(var(--uib-speed) * 1.111) ease-in-out infinite;
    box-shadow: 0 0 20px rgba(18, 31, 53, 0.3);
}

.dot-spinner__dot:nth-child(2) {
    transform: rotate(45deg);
}

.dot-spinner__dot:nth-child(2)::before {
    animation-delay: calc(var(--uib-speed) * -0.875);
}

.dot-spinner__dot:nth-child(3) {
    transform: rotate(90deg);
}

.dot-spinner__dot:nth-child(3)::before {
    animation-delay: calc(var(--uib-speed) * -0.75);
}

.dot-spinner__dot:nth-child(4) {
    transform: rotate(135deg);
}

.dot-spinner__dot:nth-child(4)::before {
    animation-delay: calc(var(--uib-speed) * -0.625);
}

.dot-spinner__dot:nth-child(5) {
    transform: rotate(180deg);
}

.dot-spinner__dot:nth-child(5)::before {
    animation-delay: calc(var(--uib-speed) * -0.5);
}

.dot-spinner__dot:nth-child(6) {
    transform: rotate(225deg);
}

.dot-spinner__dot:nth-child(6)::before {
    animation-delay: calc(var(--uib-speed) * -0.375);
}

.dot-spinner__dot:nth-child(7) {
    transform: rotate(270deg);
}

.dot-spinner__dot:nth-child(7)::before {
    animation-delay: calc(var(--uib-speed) * -0.25);
}

.dot-spinner__dot:nth-child(8) {
    transform: rotate(315deg);
}

.dot-spinner__dot:nth-child(8)::before {
    animation-delay: calc(var(--uib-speed) * -0.125);
}

@keyframes pulse0112 {
    0%,
    100% {
        transform: scale(0);
        opacity: 0.5;
    }

    50% {
        transform: scale(1);
        opacity: 1;
    }
}

.charm--marketing svg {
    stroke: white !important;
   }

   .integration-container {
    max-width: 1100px;
    margin: auto;
    padding: 30px;
  }
  
  .integration-container h2 {
    color: var(--text-sharp);
    font-size: 24px;
    line-height: 1.4;
    text-align: left;
  }
  
  .integration-container p {
    color: var(--text-light);
    font-size: 16px;
    text-align: left;
  }
  
  .integration-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
  }
  
  .integration-card {
    flex-basis: calc(33.333% - 30px);
    text-align: center;
  }
  
  .integration-card img {
    max-width: 100%;
    height: auto;
  }



.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  color: #666;
  font-size: 16px;
  margin-bottom: 20px;
}

.logos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.logos img {
  max-width: 100px;
  margin: 10px;
}

.compliance {
  background-color: #f9f9f9;
  padding: 40px 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.features {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.feature {
  max-width: 300px;
  margin: 20px;
  text-align: left;
}

.feature img {
  max-width: 50px;
  margin-bottom: 10px;
}

.feature h3 {
  color: #333;
  font-size: 18px;
  margin-bottom: 10px;
}

.feature p {
  color: #666;
  font-size: 14px;
  margin-bottom: 10px;
}

.feature a {
  color: #007bff;
  text-decoration: none;
}

.feature a:hover {
  text-decoration: underline;
}