@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


:root {
  --blue-color : #26b5ca;

}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    border: none;
    font-family: 'Inter', sans-serif;
  }

  
  
  a {
    text-decoration: none;
  }
  

.back--nav {
    background-color: transparent;
    width: 100vw;
    height: 6rem;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 padding-top: 2.5rem;
 text-transform: uppercase;
 font-family: 'Inter', sans-serif;

}

.first--detail {
  display: flex;
  flex-direction: row;
  gap: 5rem;

}

.first--detail p {
  color: #D7D7D7 ;
}

.first--detail img{
width: 105px;
height: 39px;
object-fit: contain;
margin-left: 6rem;
transform: translateY(-.8rem);
}


.second--detail {
  display: flex;
  flex-direction: row;
  gap: 1.2rem;
  margin-right: 6rem;
  font-size: 24px;
}

.second--detail a button {
 width: 213px;
 height: 3.1rem;
 font-size: 16px;
 font-weight: 800;
 transform: translateY(-.8rem);
 background-color: var(--blue-color);
 border-radius: 15px;
 color: #FFFFFF;
}
.second--detail i {
  color: var(--blue-color);
}

.main--div {
  background: url(../img/mahdis-mousavi-hJ5uMIRNg5k-unsplash\ 1.png);
  width: 100%;
  height: 100vh;

}

.center--text {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
 margin-top: 10rem;

}

.center--text h1 {
  color: #FFFFFF;
  font-size: 108px;
}

.center--text h2 {
  font-size: 63px;
  color: var(--blue-color);
}

.center--text a button {

}