@media screen and (max-width: 1500px) {
    .box--div {
        grid-template-columns: 1fr 1fr;
    }
    .section--3 {
        gap: 4rem;
    }
    .img--section3 {
        width: 400px;
        object-fit: contain;
    }
    .item-marketing {
        gap: 7rem;
    }
    .social--div {
        gap: 4rem;
    }
    .smart-parent img {
        width: 300px;
    }
    .smart-parent {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .social--div {
        flex-direction: column-reverse;
    }

    .detail--social {
        margin-top: 5rem !important;
        max-width: 500px;
        margin: 0 auto;
        text-align: center;
        align-items: center;
    }

    .detail--social > svg {
        display: none;
    }
    .swiper {
        width: 1200px;
        height: 500px;
    }
}

@media screen and (max-width: 1200px) {
    .center--text h1 {
        font-size: 5rem;
    }

    .center--text h2 {
        font-size: 3rem;
    }

    .center--text p {
        font-size: 1.5rem;
    }

    .swiper {
        width: 1000px;
        height: 400px;
    }
}

@media screen and (max-width: 1200px) {
    .swiper {
        width: 700px;
        height: 600px;
    }
    .swiper-slide-item {
        grid-template-columns: 1fr;
    }
    .slider-text h1 {
        font-size: 1.4rem;
    }
    .slider-text p {
        font-size: 1rem;
    }
    .marketing--section {
        height: fit-content;
        background-size: cover;
        background: none;
    }
    .item-marketing {
        flex-direction: column;
        margin-top: 0;
    }
    .marketing--detail {
        margin: 0 auto;
        color: #383838;
    }
    .marketing--detail p {
        color: #383838;
    }
    .marketing-img {
        margin: 0 auto;
    }
    .social--div {
        margin-top: 10rem;
    }
    .contact-divder {
        flex-direction: column-reverse;
    }
    .section--3 {
        flex-direction: column-reverse;
    }
    .section--3 > div {
        margin: 0 auto;
    }
    .box--div {
        grid-template-columns: 1fr;
    }
    .back--nav {
        display: none;
    }
    .mobile-nav {
        display: flex;
    }
}

@media screen and (max-width: 840px) {
    .center--text h1 {
        font-size: 3.5rem;
    }
    .center--text h2 {
        font-size: 2rem;
    }
    .center--text p {
        font-size: 1rem;
        margin-top: 0.5rem;
    }
    .center--text a button {
        margin-top: 1rem;
    }
    .swiper {
        width: 500px;
        height: 700px;
    }
    .text--whatwedo img {
        width: 500px;
    }
}

@media screen and (max-width: 590px) {
    .swiper {
        width: 400px;
        height: 700px;
    }
    .center--text h1 {
        font-size: 2.5rem;
    }
    .center--text h2 {
        font-size: 1.2rem;
    }
    .center--text p {
        font-size: 0.8rem;
        margin-top: 0.5rem;
    }
    .center--text a button {
        width: 10rem;
        height: 3rem;
    }
    .text--whatwedo h4 {
        font-size: 1.6rem;
    }
    .text--whatwedo img {
        width: 400px;
        height: 15px;
    }
    .text--whatwedo p {
        font-size: 1rem;
        width: 80%;
    }
    .box--whatwedo {
        width: 400px;
        height: 200px;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .box--whatwedo .detail--box {
        margin-top: 0rem;
        gap: 0.5rem;
    }

    .detail--box .first--p {
        font-size: 1rem;
    }
    .detail--box .second--p {
        font-size: 0.8rem;
    }

    .box--whatwedo .icon svg {
        width: 30px;
        height: 30px;
    }

    .box--whatwedo .icon {
        right: -1.5rem;
        bottom: -1.5rem;
        padding: 2rem;
    }

    .box--whatwedo .boxes[data-idx="1"] {
        bottom: 2.5rem;
        right: 2rem;
        width: 3rem;
        border-radius: 0.5rem;
        height: 3rem;
    }

    .box--whatwedo .boxes[data-idx="2"] {
        bottom: -1.5rem;
        right: 2rem;
        width: 3rem;
        border-radius: 0.5rem;
        height: 3rem;
    }

    .box--whatwedo .boxes[data-idx="3"] {
        bottom: 2.5rem;
        right: -2rem;
        width: 3rem;
        border-radius: 0.5rem;
        height: 3rem;
    }
    .contact-section,
    .marketing--section {
        max-width: 80%;
        margin: 0 auto;
        margin-top: 10rem;
    }
    .smart-parent .smart-circle {
        height: 200px;
        width: 200px;
    }
    .smart-parent .smart-circle-border[data-idx="1"] {
        width: 300px;
        height: 300px;
    }
    .smart-parent .smart-circle-border[data-idx="2"] {
        height: 400px;
        width: 400px;
    }
    .item--section3 {
        width: 350px;
    }
}

@media screen and (max-width: 450px) {
    .box--whatwedo {
        width: 350px;
        height: 180px;
    }
    .box--whatwedo .detail--box {
        margin-left: 1rem;
    }
    .link-text {
        gap: 0.5rem;
    }
    .text--whatwedo img {
        width: 300px;
    }
    .smart-parent .smart-circle {
        height: 150px;
        width: 150px;
    }
    .smart-parent .smart-circle-border[data-idx="1"] {
        width: 200px;
        height: 200px;
    }
    .smart-parent .smart-circle-border[data-idx="2"] {
        height: 300px;
        width: 300px;
    }
    .item--section3 {
        width: 350px;
    }
    .img--section3 {
        width: 320px;
    }
    .swiper-button-next,
    .swiper-button-prev {
        display: none;
    }
}

@media screen and (max-width: 397px) {
    .swiper {
        width: 320px;
        height: 700px;
    }
    .swiper-slide-item {
        width: fit-content;
    }
    .slider-text {
        padding: 1rem;
    }
    .marketing-img .marketing-circle {
        width: 320px;
    }
}

@media screen and (max-width: 454px) {
    .marketing--detail svg {
        display: none;
    }
}

@media screen and (max-width: 1201px) {
    .charm--marketing svg {
     stroke: #2ab2c6 !important;
    }

    .leyoxa-effect svg {
        fill: #2ab2c6  !important;
    }
}
